<!doctype html>
<head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script src="../morris.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
    <script src="lib/example.js"></script>
    <link rel="stylesheet" href="lib/example.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
    <link rel="stylesheet" href="../morris.css">
</head>
<body>
    <h1>Area charts behaving like line charts</h1>
    <div id="graph"></div>
<pre id="code" class="prettyprint linenums">
// Use Morris.Area instead of Morris.Line
Morris.Area({
  element: 'graph',
  behaveLikeLine: true,
  data: [
    {x: '2011 Q1', y: 3, z: 3},
    {x: '2011 Q2', y: 2, z: 1},
    {x: '2011 Q3', y: 2, z: 4},
    {x: '2011 Q4', y: 3, z: 3}
  ],
  xkey: 'x',
  ykeys: ['y', 'z'],
  labels: ['Y', 'Z']
});
</pre>

    <script src="../assets/js/vendor.bundle.js"></script>
    <script src="../assets/js/app.bundle.js"></script>
    <script>
        var day_data = [
            { "elapsed": "IAAA", "value": 34 },
            { "elapsed": "II", "value": 24 },
            { "elapsed": "III", "value": 3 },
            { "elapsed": "IV", "value": 12 },
            { "elapsed": "V", "value": 13 },
            { "elapsed": "VI", "value": 22 },
            { "elapsed": "VII", "value": 5 },
            { "elapsed": "VIII", "value": 26 },
            { "elapsed": "IX", "value": 12 },
            { "elapsed": "X", "value": 19 }
        ];
        Morris.Line({
            element: 'graph',
            data: day_data,
            xkey: 'elapsed',
            ykeys: ['value'],
            labels: ['value'],
            parseTime: false
        });
    </script>
</body>