<div id="sprint-list" class="btn-group">
    <button type="button" class="btn btn-primary  btn-flat dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>{{value}}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="item in items  track by $index"
            ng-click="select({current:items[$index],previous:items[$index+1]})">
            <a href="#">{{item.name}}</a>
        </li>
    </ul>
</div>